Django>=4.2
django-cors-headers
pymongo
bcrypt
itsdangerous
pdfplumber
python-dotenv
requests
certifi
dnspython
urllib3
langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone==7.3.0
gunicorn
sentence-transformers
